.nav-item {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.nav-item:hover {
    color: #0C6E5A;
    transition-duration: 0.3s, 0.4s;
}

.nav-item-acai {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.nav-item-acai:hover {
    color: #907f9c;
    transition-duration: 0.3s, 0.4s;
}